In [1]:
#Create connection
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Algae').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x000001D3A48BDA30>

In [2]:
#Read JSON file

df = spark.read.json('emp.json')
print(df)

DataFrame[age: bigint, name: string, salary: bigint]

In [3]:
#Print 

df.show()

+----+------+------+
| age|  name|salary|
+----+------+------+
|null|Deepak|  null|
|null|  Amit|  null|
|  20| Rudra|  null|
|  21| Parul|  null|
|  20|Shikha|   200|
+----+------+------+

In [4]:
df.collect()

[Row(age=None, name='Deepak', salary=None),
 Row(age=None, name='Amit', salary=None),
 Row(age=20, name='Rudra', salary=None),
 Row(age=21, name='Parul', salary=None),
 Row(age=20, name='Shikha', salary=200)]

In [5]:
df.head()

Row(age=None, name='Deepak', salary=None)

In [6]:
df.head(2)

[Row(age=None, name='Deepak', salary=None),
 Row(age=None, name='Amit', salary=None)]

In [7]:
df.select(['age','name'])

DataFrame[age: bigint, name: string]

In [8]:
df.select(['age','name'])

DataFrame[age: bigint, name: string]

In [9]:
df.withColumn('age1', df['age']+1).show()

+----+------+------+----+
| age|  name|salary|age1|
+----+------+------+----+
|null|Deepak|  null|null|
|null|  Amit|  null|null|
|  20| Rudra|  null|  21|
|  21| Parul|  null|  22|
|  20|Shikha|   200|  21|
+----+------+------+----+

In [10]:
# Readin structure of dataframe

In [11]:
df['age']

Column<b'age'>

In [12]:
type(df['age'])

pyspark.sql.column.Column

In [13]:
df.select('age')

DataFrame[age: bigint]

In [14]:
df.createOrReplaceTempView("emp")

In [17]:
sql_results = spark.sql("SELECT * FROM emp")

In [18]:
sql_results

DataFrame[age: bigint, name: string, salary: bigint]

In [19]:
sql_results.show()

+----+------+------+
| age|  name|salary|
+----+------+------+
|null|Deepak|  null|
|null|  Amit|  null|
|  20| Rudra|  null|
|  21| Parul|  null|
|  20|Shikha|   200|
+----+------+------+

In [20]:
sql_results.groupBy("name").mean().show()

+------+--------+-----------+
|  name|avg(age)|avg(salary)|
+------+--------+-----------+
| Rudra|    20.0|       null|
|Deepak|    null|       null|
|  Amit|    null|       null|
|Shikha|    20.0|      200.0|
| Parul|    21.0|       null|
+------+--------+-----------+

In [21]:
spark.sql("SELECT * FROM emp WHERE age=21").show()

+---+-----+------+
|age| name|salary|
+---+-----+------+
| 21|Parul|  null|
+---+-----+------+